*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

h1{
    text-align: left;
    margin-left: 30px;
}
.cb{
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.cb:hover{
    color: #e68900;
}

body{
    min-height: 100vh;
    height: auto;
    margin:0;
    padding: 0;
    text-align: center;
    background: linear-gradient(130deg ,#e68900 50%,#2d2d2d 50%);
}

header{
    background:#2d2d2d;
    color:white;
    display:flex;
    height: 70px;
    justify-content:space-between;
    align-items:center;
    padding:15px 50px;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

nav a{
    text-align: center;
    color:white;
    text-decoration:none;
    margin-left:80px;
    font-weight:bold;
}

nav a:hover{
    color:orange;
}

.container{
    justify-content: space-between;
    width:1200px;
    height:500px;
    margin:50px auto;
    background:white;
    border-radius:15px;
    padding:40px;
    text-align:center;overflow-y: scroll;
    box-shadow:0 10px 20px rgba(0,0,0,.3);
}

footer{
    size: 8px;
    width:100%;
    height: 50px;
    background-color: #2d2d2d;
    color: white;
}

.container p{
    text-align: left;
}

.heading,.order-row{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 3fr 1.5fr 1fr 2fr;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.heading{
    font-weight: bold;
    background: #f5f5f5;
    border-radius: 10px;
}
.order-row{
    border-bottom: 1px solid #ddd;
}

.order-row:last-child{
    border-bottom: none;
}

.head{
    display: flex;
}

.total-orders p, .pending p, .ready_orders p, .total-revenue p{
    font-weight: bold;
    text-align: left;
    margin-top: 60px;
    color: #2d2d2d;
}


.total-orders{
    font-weight: bolder;
    border-radius: 12px;
    background:white;
    height: 200px;
    width: 250px;
    padding: 40px;
    margin: 50px auto;
    
}

.pending{
    font-weight: bolder;
    border-radius: 12px;
    background:white;
    height: 200px;
    width: 250px;
    padding: 40px;
    margin: 50px auto;
    
}

.ready_orders{
    font-weight: bolder;
    border-radius: 12px;
    background:white;
    height: 200px;
    width: 250px;
    padding: 40px;
    margin: 50px auto;
}

.total-revenue{
    font-weight: bolder;
    border-radius: 12px;
    background:white;
    height: 200px;
    width: 250px;
    padding: 40px;
    margin: 50px auto;
    
}

.orders{
    margin-top: 20px;
    color: #2d2d2d;
    font-size: 36px;
    font-weight: bolder;
    text-align: left;
    margin-left: 40px;
}

.no{
    font-size: 45px;
    margin-right: 90px;
}

.status{
    color:green;
    font-weight: bold;
}
.container2{
    background: white;
    border-radius: 15px;
    margin: 10px;
    height: 620px;

}

.greetings{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: black;
}
.greetings p{
    margin-left: 30px;
}

.popular{
    background: white;
    width: 500px;
    height: 350px;
    border-radius: 12px;
}
.quick{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    row-gap: 40px;
    background: white;
    width: 500px;
    border-radius: 12px;
}
.container1{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    gap: 170px;
    margin-bottom: 40px;
}
.container3{
    background: white;
    width: 500px;
    height: 350px;
    border-radius: 12px;
}
.container3 h2{
    margin-top: 10px;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 30px;
}

.add_product i{
    color: white;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s ease;
}

.add_product p,.add_product a{
    color: white;
    margin-top: 10px;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.add_product button{
    color: white;
    font-weight: bold;
    border: none;
    height: 80px;
    width: 150px;
    background: #e69800;
    border: #e68900 solid 2px;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}
.add_product button:hover{
    transform: scale(1.05);
    background: #e68900;

}

.day{
    background: white;
    border: #2d2d2d 2px solid;
    font-weight: bold;
    text-align: center;
    margin-top: -30px;
    padding: 8px;
    width: 250px;
    margin-left: 970px;
    border-radius: 6px;
}