
h1{
    text-align: left;
    margin-left: 30px;
}
.cb{
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.cb:hover{
    color: #e68900;
}

body{
    min-height: 100vh;
    height: auto;
    margin: 0;
    padding: 0;
    background: white;
}

header{
    background:#2d2d2d;
    color:white;
    display:flex;
    height: 30px;
    justify-content:space-between;
    align-items:center;
    padding:15px 50px;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

nav a{
    text-align: center;
    color:white;
    text-decoration:none;
    margin-left:80px;
    font-weight:bold;
}

nav a:hover{
    color:orange;
}


footer{
    margin-top: 50px;
    text-align: center;
    size: 8px;
    width:100%;
    height: 50px;
    background-color: #2d2d2d;
    color: white;
}

.container1{
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    width: 550px;
    height: 500px;
    box-shadow:0 8px 20px black;
}
.container1 h2{
    font-weight: bold;
    margin-top: -5px;
    color: #e68900;
}
.container2{
    display: grid;
    grid-template-rows: 1fr 1fr;
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    width: 550px;
    height: 500px;
    box-shadow:0 8px 20px black;
}
label{
    font-weight: bold;
    margin-left: 30px;
    margin-top: 10px;
}
.input{
    width: 400px;
    margin-top: 20px;
    height: 40px;
    border-radius: 5px;
    margin-left: 30px;
    border: 0.5px solid #2d2d2d;
}

.container2 img{
    margin: 0;
    margin-left: 120px;
    transform: translateY(-10%);
    height: 300px;
}

.image{
    width: 450px;
    height: 40px;
    margin-left: 30px;
}
.btn{
    color: white;
    font-weight: bold;
    width: 500px;
    height: 50px;
    border-radius: 12px;
    border: none;
    margin: 0px 35px;
    background: #e69800;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover{
    transform: scale(1.05);
    background: #e68900;
}

.cancel{
    color: white;
    font-weight: bold;
    width: 500px;
    height: 50px;
    border-radius: 12px;
    border: none;
    margin: 0px 35px;
    background: #e69800;
    cursor: pointer;
    transition: 0.3s ease;
}

.cancel:hover{
    transform: scale(1.05);
    background: #e68900;
}
.container2 input[type="file"]::file-selector-button{
    padding: 8px 16px;
    margin: 10px;
    text-align: left;
    height: 40px;
    margin-left: 30px;
    border-radius: 8px;
    transition: 0.3s ease;
}
.container2 input[type="file"]::file-selector-button:hover{
    transform: scale(1.05);
}
.container2 h2{
    margin: 0;
    color: #e69800;
}

.imgg{
    margin-right: -40px;
}

.container{
    display: flex;
}

.button{
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-top: -80px;
}
.button i{
    font-size: 30px;
}

label,.input{
    margin-bottom: 30px;
}