<html>
    <head>
        <title>Add Product</title>
    </head>

    <link rel="stylesheet" href="{{url_for('static',filename='admin_reports.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    
    <body>
    <header>
    <div class="logo">  
    <img src="{{url_for('static', filename='images/CB logo.png')}}" width="50">
    <a href="/admin_dashboard" class="cb"><p>CanteenBite</p>
    </a>
    </div>
    <nav>
    <a href="/admin_dashboard">Home</a>
    <a href="/manage_orders" class="menu">Manage</a>
    <a href="/edit_menu">Edit Menu</a>
    <a href="/admin_reports">View Reports</a>
    </nav>
    </header>

<div class="top">
    <h1><span>📋</span> Reports </h1><br>
    <p>Track your Canteen performance and explore detailed insights.</p>
</div>

    <div class="Container">
        <div class="card">
            <i class="fa-solid fa-bag-shopping"></i>
            <h3>Total Orders</h3>
           <span>{{ total_orders.total_orders }}</span>
        </div>
        <div class="card">
            <i class="fa-solid fa-indian-rupee-sign"></i>
            <h3>Total Revenue</h3>
            <span>₹ {{ total_revenue.total_revenue }}</span>
        </div>
        <div class="card">
            <i class="fa-solid fa-chart-line"></i>
            <h3>Average Value</h3>
            <span>₹ {{ avg_revenue.avg_revenue }}</span>
        </div>
        <div class="card">
            <i class="fa-solid fa-cart-shopping"></i>
            <h3>Items Sold</h3>
            <span>{{ items_sold.items_sold }}</span>
        </div>

</div>

<div class="Recent_Orders"> 
    <h2>📦 Recent Orders Summary</h2>
    <div class="head">
        <p>Date</p>
        <p>Total Orders</p>
        <p>Revenue</p>
        <p>Status</p>
    </div>

    <div class="row">
        {% for order in recent_orders %}
        <span>{{ order.order_date }}</span>
        <span>{{ order.total_orders }}</span>
        <span>{{ order.revenue }}</span>
        <span>{{ order.status }}</span>
        {% endfor %}
    </div>
    
</div>


    <footer>Copyright © CanteenBite</footer>
</body>
 
</html>