<!DOCTYPE html>
<html>
    <head>
        <title> Menu page </title>
    </head>
    <link rel="stylesheet" href="{{url_for('static',filename='admin_dashhboard.css')}}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<body>
    
    <header>
    <div class="logo">  
    <img src="{{url_for('static', filename='images/CB logo.png')}}" width="50">
    <a href="/admin_dashboard" class="cb"><p>CanteenBite</p>
    </a>
    </div>
    <nav>
    <a href="/admin_dashboard">Home</a>
    <a href="/manage_orders" class="menu">Manage</a>
    <a href="/edit_menu">Edit Menu</a>
    <a href="/admin_reports">View Reports</a>
    </nav>
    </header>

<div class="greetings">    
<h1><b>Hello, Admin👋</b></h1>
<p>Here's what happening in your canteen.</p>
</div>

<div class="day" data-aos="fade-in" data-aos-duration="1000" easing="ease-in">
    📅: {{ day }}, {{ date }}

</div>

<div class="head" data-aos="fade-up" data-aos-duration="1000" easing="ease-in">

    <div class="total-orders">
        <span class="no">{{ total_orders.total_orders }} </span>
    <p>Total orders</p>
</div>

<div class="pending">
  <span class="no"> {{ pending_orders.pending_orders }} </span>
    <p>Pending orders</p>
</div>

<div class="ready_orders">
   <span class="no"> {{ ready_orders.ready_orders }} </span>
    <p>Ready orders</p>
</div>

<div class="total-revenue">
   <span class="no">₹{{ revenue.revenue }} </span>    
    <p>Total Revenue</p>
</div>
</div>

<div class="container2" data-aos="fade-up" data-aos-duration="2000" easing="ease-in">
<p class="orders">🧾 Recent Orders :</p>


<div class="container">
    <div class="heading">
        <div>Date</div>
        <div>Time</div>
        <div>Token</div>
        <div>Product</div>
        <div>Qty</div>
        <div>Total</div>
        <div>Status</div>
    </div>

    {% for order in orders %}
    <div class="order-row">
        <div>{{ order.order_date }}</div>
        <div>{{ order.order_time }}</div>
        <div>{{ order.token_no }}</div>
        <div>{{ order.product_name }}</div>
        <div>{{ order.quantity }}</div>
        <div>₹{{ order.total }}</div>
        <div class="status">{{ order.order_status }}</div>
    </div>
    {% endfor %}
</div>
</div>

<div class="container1" data-aos="fade-up" data-aos-duration="2000" easing="ease-in">

<div class="popular">
    <h2>🔥Top selling Items</h2><br>
    {% for order in top_products %}
    <div class="p">
    <span>{{ order.product_name }}</span>
    <span class="clr">{{ order.total_sold }} sold</span>
    </div>
    {% endfor %}
</div>

<div class="container3">
    <h2>⚡ Quick Action:</h2>
<div class="quick">
    <div class="add_product">
        <a href="/admin_add_product">
            <button>
            <i class="fa-solid fa-plus"></i>
            <p>Add Product</p>
            </button> 
        </a>
    </div>

    <div class="add_product">
        <a href="/manage_orders">
            <button>
            <i class="fa-solid fa-bag-shopping"></i>
            <p>Manage Orders</p>
            </button> 
        </a>
    </div>

     <div class="add_product">
        <a href="/manage_orders">
            <button>
            <i class="fa-solid fa-users"></i>
            <p>Customers</p> 
            </button>
        </a>
    </div>

     <div class="add_product">
        <a href="/admin_reports">
            <button>
            <i class="fa-solid fa-chart-column"></i>
            <p>View Reports</p>
            </button> 
        </a>
    </div>
</div>
</div>
</div>

<footer>Copyright © CanteenBite</footer>
</body>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</html>