<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register to CanteenBite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
</head>

  <div class="top">
    <img src="{{ url_for('static', filename='images/CB logo.png') }}" alt="logo" class="logo">
    <header>CanteenBites</header>
  </div>
<body>

    <div class="container" data-aos="flip-right" data-aos-easing="ease" data-aos-duration="1500">

        <form action="/register" method="POST">
            <h1>Register to CanteenBite</h1>

            <p>Full Name</p>
            <input type="text" placeholder="John Bright C" name="full_name" required>

            <p>Registration Number</p>
            <input type="text" placeholder="U18CM24S0090" name="register_no" required>

            <p>Email Address</p>
            <input type="email" placeholder="name@example.com" name="email" required>

            <p>Set Your Password</p>
            <input type="password" name="password" required>

            <button type="submit" class="register">Register</button>
        </form>

        <p class="login-link">Already have an account? <a href="/login">Login</a></p>

        <div class="copyright">
            &copy; CanteenBite
        </div>

    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>
</html>